body {
    background: url(../img/pregnancy-silhouette.png);
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    color: white;
    background-color: slategray;
}

.page1, .page2, .page3 {
    text-align: center;
    padding-left: 5%;
}

.FactsHeading, .RealityHeading, .DecisionsHeading {
     background-color: lightblue;
     padding: 10px;
     margin: 10px;
}

.FactsIntro, .RealityIntro, .DecisionsIntro {
    background-color: darkgray;
    padding: 25px;
    margin: 25px;
    padding-bottom: 3px;
    text-overflow: none;
}

.FactsLink, .RealityLink, .DecisionsLink {
    background-color: white;
    color: black;
}

.entry1 {
    background-color:white;
}


html {
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.NavigationalHeader {
    background-color: gray;
    border-bottom: 4px black solid;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    color: black;
    letter-spacing: 3px;
}

.Decision1 span:nth-child(2n+1),
.Decision2 span:nth-child(2n+1),
.Decision3 span:nth-child(2n+1) {
    background-color: black;
}

.Decision1, .Decision2, .Decision3 {
    margin: 15px;
    padding: 30px;
}

.burger {
    display: block;
    color: #ccc;
}
.nav {
    margin: 0;
    background: white;
    position: absolute;
    right: -100%;
    top: 70px;
    width: 50%;
    height: calc(100% - 70px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    transition: all 400ms;
}
.navlink {
    text-align: center;
}
.nav-active {
    right: 0;
}

.flexParent {
display: flex;
background-color: lightgray;
padding: 20px;
min-height: 300px;
margin-bottom: 20px;
gap: 20px;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-between;
align-items: baseline;
}

.flexChild {
color: white;
padding: 20px;
background: lightskyblue;
margin: 2px;
height: 30px;
width: 85%;
display: inline-flex;
align-items: center;
flex-basis: content;
flex-grow: 1;
}

@media screen and (min-width: 640px) {
    
    .NavigationalHeader {
        width: 100%;
    }
    
    .nav {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }

    .navlink {
        list-style-type: none;
        margin: 15px;
        padding: 20px;
    }

    .navlink a {
        color: black;
        text-decoration: none;
        font-size: 1.2em;
    }

    .burger {
        font-size: 1.2em;
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .page1, .page2, .page3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto;
        grid-template-rows: auto;
        grid-column-gap: 5px; 
    }
 
    .nav {
        background: none;
    }

    .FactsHeading, .RealityHeading, .DecisionsHeading {
        color: black;
        background: none;
        text-align: left;
        padding: 0;
        margin-top: 40px;
    }

    .FactsIntro, .RealityIntro, .DecisionsIntro {
        width: 50%;
    }

    .FactsLink, .RealityLink, .DecisionsLink {
        background: none;
        color: black;
        margin-top: 50px;
    }

    .flexParent {
        display: flex;
        background-color: lightgray;
        padding: 20px;
        min-height: 100px;
        margin-bottom: 20px;
        gap: 20px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        }
        
        .flexChild {
        color: white;
        padding: 20px;
        background: lightskyblue;
        margin: 2px;
        height: 30px;
        width: 85%;
        display: inline-flex;
        align-items: baseline;
        flex-basis: content;
        flex-grow: 1;
        }